export EDGAR_UA="YOUR ORG NAME HERE your@email.here";
export EDGAR_RATE_LIMIT=10
export GOOGLE_SPREADSHEET_ID=YOUR-GOOGLE-SPREADSHEET-ID-HERE
export GOOGLE_SERVICE_ACCOUNT_EMAIL=YOUR-GOOGLE-SERVICE-ACCOUNT-EMAIL-HERE
export GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=$'YOUR-GOOGLE-SERVICE-ACCOUNT-PRIVATE-KEY-HERE'