export SF_SECURITY_TOKEN="SECRET-TOKEN-HERE"
export SF_USERNAME="your@email.here"
export SF_PASSWORD="your-password-here"
export SF_URL="https://your.salesforce.com"
export EDGAR_UA="YOUR ORG NAME HERE your@email.here";
export EDGAR_RATE_LIMIT=10
